.features-wrapper {
  display: contents;
}
.features-section {
  position: relative;
}
.features-heading {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: center;
  flex-direction: row;
}
.features-header {
  color: rgb(255, 255, 255);
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
}
.features-icon {
  width: 20px;
  object-fit: cover;
}
.features-text {
  color: rgb(255, 255, 255);
  width: 100%;
  max-width: 300px;
  line-height: 24px;
}
.features-divider {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: none;
}
@media(max-width: 991px) {
  .features-section {
    border-right-width: 0px;
  }
  .features-divider {
    width: 80px;
    height: 1px;
    display: flex;
    border-color: #ffffff;
    border-width: 0px;
    background-color: #ffffff;
  }
}
@media(max-width: 767px) {
  .features-header {
    font-size: 20px;
    line-height: 24px;
  }
  .features-text {
    font-size: 14px;
    line-height: 21px;
  }
}

.features-wrapper-splw {
  display: contents;
}
.features-section1 {
  position: relative;
}
.features-heading1 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: center;
  flex-direction: row;
}
.features-header1 {
  color: rgb(255, 255, 255);
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
}
.features-icon1 {
  width: 20px;
  object-fit: cover;
}
.features-text1 {
  color: rgb(255, 255, 255);
  width: 100%;
  max-width: 300px;
  line-height: 24px;
}
.features-divider1 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: none;
}
@media(max-width: 991px) {
  .features-section1 {
    border-right-width: 0px;
  }
  .features-divider1 {
    width: 80px;
    height: 1px;
    display: flex;
    border-color: #ffffff;
    border-width: 0px;
    background-color: #ffffff;
  }
}
@media(max-width: 767px) {
  .features-header1 {
    font-size: 20px;
    line-height: 24px;
  }
  .features-text1 {
    font-size: 14px;
    line-height: 21px;
  }
}

.features-wrapper-tlxe {
  display: contents;
}
.features-section2 {
  position: relative;
}
.features-heading2 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: center;
  flex-direction: row;
}
.features-header2 {
  color: rgb(255, 255, 255);
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
}
.features-icon2 {
  width: 20px;
  object-fit: cover;
}
.features-text2 {
  color: rgb(255, 255, 255);
  width: 100%;
  max-width: 300px;
  line-height: 24px;
}
.features-divider2 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: none;
}
@media(max-width: 991px) {
  .features-section2 {
    border-right-width: 0px;
  }
  .features-divider2 {
    width: 80px;
    height: 1px;
    display: flex;
    border-color: #ffffff;
    border-width: 0px;
    background-color: #ffffff;
  }
}
@media(max-width: 767px) {
  .features-header2 {
    font-size: 20px;
    line-height: 24px;
  }
  .features-text2 {
    font-size: 14px;
    line-height: 21px;
  }
}

.practice-wrapper {
  display: contents;
}
.practice-practice {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  position: relative;
  align-items: flex-start;
  padding-top: var(--dl-space-space-threeunits);
  border-color: #B4B9C6;
  flex-direction: column;
  border-top-width: 1px;
}
.practice-heading {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.practice-header {
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: 36px;
}
.practice-caption {
  max-width: 385px;
  line-height: 24px;
}
.practice-text {
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}
.practice-image {
  width: 12px;
  object-fit: cover;
}
@media(max-width: 767px) {
  .practice-practice {
    padding-top: var(--dl-space-space-oneandhalfunits);
  }
  .practice-header {
    font-size: 20px;
    line-height: 24px;
  }
  .practice-caption {
    font-size: 14px;
    line-height: 21px;
  }
}

.practice-wrapper-z3fd {
  display: contents;
}
.practice-practice1 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  position: relative;
  align-items: flex-start;
  padding-top: var(--dl-space-space-threeunits);
  border-color: #B4B9C6;
  flex-direction: column;
  border-top-width: 1px;
}
.practice-heading1 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.practice-header1 {
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: 36px;
}
.practice-caption1 {
  max-width: 385px;
  line-height: 24px;
}
.practice-text1 {
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}
.practice-image1 {
  width: 12px;
  object-fit: cover;
}
@media(max-width: 767px) {
  .practice-practice1 {
    padding-top: var(--dl-space-space-oneandhalfunits);
  }
  .practice-header1 {
    font-size: 20px;
    line-height: 24px;
  }
  .practice-caption1 {
    font-size: 14px;
    line-height: 21px;
  }
}

.practice-wrapper-ogho {
  display: contents;
}
.practice-practice2 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  position: relative;
  align-items: flex-start;
  padding-top: var(--dl-space-space-threeunits);
  border-color: #B4B9C6;
  flex-direction: column;
  border-top-width: 1px;
}
.practice-heading2 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.practice-header2 {
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: 36px;
}
.practice-caption2 {
  max-width: 385px;
  line-height: 24px;
}
.practice-text2 {
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}
.practice-image2 {
  width: 12px;
  object-fit: cover;
}
@media(max-width: 767px) {
  .practice-practice2 {
    padding-top: var(--dl-space-space-oneandhalfunits);
  }
  .practice-header2 {
    font-size: 20px;
    line-height: 24px;
  }
  .practice-caption2 {
    font-size: 14px;
    line-height: 21px;
  }
}

.practice-wrapper-vmz6 {
  display: contents;
}
.practice-practice3 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  position: relative;
  align-items: flex-start;
  padding-top: var(--dl-space-space-threeunits);
  border-color: #B4B9C6;
  flex-direction: column;
  border-top-width: 1px;
}
.practice-heading3 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.practice-header3 {
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: 36px;
}
.practice-caption3 {
  max-width: 385px;
  line-height: 24px;
}
.practice-text3 {
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}
.practice-image3 {
  width: 12px;
  object-fit: cover;
}
@media(max-width: 767px) {
  .practice-practice3 {
    padding-top: var(--dl-space-space-oneandhalfunits);
  }
  .practice-header3 {
    font-size: 20px;
    line-height: 24px;
  }
  .practice-caption3 {
    font-size: 14px;
    line-height: 21px;
  }
}

.practice-wrapper-3l36 {
  display: contents;
}
.practice-practice4 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  position: relative;
  align-items: flex-start;
  padding-top: var(--dl-space-space-threeunits);
  border-color: #B4B9C6;
  flex-direction: column;
  border-top-width: 1px;
}
.practice-heading4 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.practice-header4 {
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: 36px;
}
.practice-caption4 {
  max-width: 385px;
  line-height: 24px;
}
.practice-text4 {
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}
.practice-image4 {
  width: 12px;
  object-fit: cover;
}
@media(max-width: 767px) {
  .practice-practice4 {
    padding-top: var(--dl-space-space-oneandhalfunits);
  }
  .practice-header4 {
    font-size: 20px;
    line-height: 24px;
  }
  .practice-caption4 {
    font-size: 14px;
    line-height: 21px;
  }
}

.practice-wrapper-wi7n {
  display: contents;
}
.practice-practice5 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  position: relative;
  align-items: flex-start;
  padding-top: var(--dl-space-space-threeunits);
  border-color: #B4B9C6;
  flex-direction: column;
  border-top-width: 1px;
}
.practice-heading5 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.practice-header5 {
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: 36px;
}
.practice-caption5 {
  max-width: 385px;
  line-height: 24px;
}
.practice-text5 {
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}
.practice-image5 {
  width: 12px;
  object-fit: cover;
}
@media(max-width: 767px) {
  .practice-practice5 {
    padding-top: var(--dl-space-space-oneandhalfunits);
  }
  .practice-header5 {
    font-size: 20px;
    line-height: 24px;
  }
  .practice-caption5 {
    font-size: 14px;
    line-height: 21px;
  }
}

.home-container1 {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  scroll-behavior: smooth;
}
.home-modal1 {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  z-index: 200;
  position: fixed;
  align-items: center;
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: column;
  backdrop-filter: blur(4px);
  justify-content: center;
}
.home-practices1 {
  display: flex;
  padding: var(--dl-space-space-oneandhalfunits);
  box-shadow: 0px 0px 25px -2px rgba(66, 68, 90, 0.4);
  align-items: center;
  border-radius: 12px;
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff;
}
.home-heading10 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
  justify-content: space-between;
}
.home-header10 {
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
}
.home-close {
  width: 24px;
  cursor: pointer;
  height: 24px;
  transition: 0.3s;
}
.home-close:hover {
  opacity: 0.5;
}
.home-grid1 {
  gap: var(--dl-space-space-threeunits);
  flex: 1;
  display: grid;
  align-items: flex-start;
  flex-direction: column;
  grid-template-columns: repeat(2, 1fr);
}
.home-section1 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-threeunits);
  border-color: #B4B9C6;
  flex-direction: column;
  border-top-width: 1px;
}
.home-heading11 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-header11 {
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: 36px;
}
.home-caption1 {
  max-width: 385px;
  line-height: 24px;
}
.home-text10 {
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}
.home-image10 {
  width: 12px;
  object-fit: cover;
}
.home-section2 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-threeunits);
  border-color: #B4B9C6;
  flex-direction: column;
  border-top-width: 1px;
}
.home-heading12 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-header12 {
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: 36px;
}
.home-caption2 {
  max-width: 385px;
  line-height: 24px;
}
.home-text11 {
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}
.home-image11 {
  width: 12px;
  object-fit: cover;
}
.home-section3 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-threeunits);
  border-color: #B4B9C6;
  flex-direction: column;
  border-top-width: 1px;
}
.home-heading13 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-header13 {
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: 36px;
}
.home-caption3 {
  max-width: 385px;
  line-height: 24px;
}
.home-text12 {
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}
.home-image12 {
  width: 12px;
  object-fit: cover;
}
.home-section4 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-threeunits);
  border-color: #B4B9C6;
  flex-direction: column;
  border-top-width: 1px;
}
.home-heading14 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-header14 {
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: 36px;
}
.home-caption4 {
  max-width: 385px;
  line-height: 24px;
}
.home-text13 {
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}
.home-image13 {
  width: 12px;
  object-fit: cover;
}
.home-section5 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-threeunits);
  border-color: #B4B9C6;
  flex-direction: column;
  border-top-width: 1px;
}
.home-heading15 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-header15 {
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: 36px;
}
.home-caption5 {
  max-width: 385px;
  line-height: 24px;
}
.home-text14 {
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}
.home-image14 {
  width: 12px;
  object-fit: cover;
}
.home-section6 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-threeunits);
  border-color: #B4B9C6;
  flex-direction: column;
  border-top-width: 1px;
}
.home-heading16 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-header16 {
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: 36px;
}
.home-caption6 {
  max-width: 385px;
  line-height: 24px;
}
.home-text15 {
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}
.home-image15 {
  width: 12px;
  object-fit: cover;
}
.home-hero {
  width: 100%;
  height: 100vh;
  display: flex;
  position: relative;
  align-items: center;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  animation-name: none;
  flex-direction: column;
  animation-delay: 0s;
  background-color: #D9D9D9;
  animation-duration: 300ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
.home-header17 {
  width: 100%;
  display: flex;
  justify-content: center;
}
.home-navbar {
  width: 100%;
  display: flex;
  z-index: 100;
  max-width: 1440px;
  align-items: center;
  padding-top: var(--dl-space-space-oneandhalfunits);
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  padding-bottom: var(--dl-space-space-oneandhalfunits);
  justify-content: space-between;
  background-color: #ffffff;
}
.home-left1 {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-image16 {
  width: 200px;
  object-fit: cover;
}
.home-links1 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-link10 {
  cursor: pointer;
  font-style: normal;
  transition: 0.3s;
  font-weight: 500;
  line-height: 24px;
  text-decoration: none;
}
.home-link10:hover {
  opacity: 0.5;
}
.home-link11 {
  cursor: pointer;
  font-style: normal;
  transition: 0.3s;
  font-weight: 500;
  line-height: 24px;
  text-decoration: none;
}
.home-link11:hover {
  opacity: 0.5;
}
.home-link12 {
  cursor: pointer;
  font-style: normal;
  transition: 0.3s;
  font-weight: 500;
  line-height: 24px;
}
.home-link12:hover {
  opacity: 0.5;
}
.home-link13 {
  cursor: pointer;
  font-style: normal;
  transition: 0.3s;
  font-weight: 500;
  line-height: 24px;
  text-decoration: none;
}
.home-link13:hover {
  opacity: 0.5;
}
.home-right1 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.home-phone {
  gap: var(--dl-space-space-halfunit);
  cursor: pointer;
  display: flex;
  align-items: center;
  border-width: 0px;
  flex-direction: row;
  justify-content: center;
}
.home-image17 {
  width: 18px;
  object-fit: cover;
}
.home-text16 {
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}
.home-book1 {
  text-decoration: none;
  background-color: #da003a;
}
.home-image18 {
  width: 18px;
  object-fit: cover;
}
.home-text17 {
  font-family: Inter;
}
.home-burger-menu {
  display: none;
  align-items: center;
  justify-content: center;
}
.home-icon2 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.home-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 1000;
  position: fixed;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.home-nav1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-container2 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.home-image19 {
  height: 2rem;
}
.home-menu-close {
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-icon4 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.home-nav2 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-text18 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-text19 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-text20 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-text21 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-book2 {
  text-decoration: none;
}
.home-image20 {
  width: 18px;
  object-fit: cover;
}
.home-text22 {
  font-family: Inter;
}
.home-main1 {
  flex: 1;
  width: 100%;
  display: flex;
  z-index: 100;
  max-width: 1440px;
  align-items: stretch;
  padding-left: var(--dl-space-space-fiveunits);
  flex-direction: row;
  justify-content: space-between;
  background-color: #ffffff;
}
.home-content1 {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
  justify-content: center;
  background-color: #ffffff;
}
.home-heading17 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.home-header18 {
  width: 100%;
  font-size: 62px;
  max-width: 750px;
  font-style: normal;
  font-weight: 600;
  line-height: 74px;
}
.home-caption7 {
  width: 100%;
  font-size: 18px;
  max-width: 600px;
  line-height: 27px;
}
.home-book3 {
  background-color: #da003a;
}
.home-image21 {
  width: 18px;
  object-fit: cover;
}
.home-image22 {
  flex: 1;
  display: flex;
  align-items: flex-end;
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: row;
  justify-content: center;
  background-color: #ffffff;
}
.home-image23 {
  height: 95%;
  object-fit: cover;
}
.home-features {
  width: 100%;
  display: flex;
  z-index: 100;
  align-items: center;
  padding-top: var(--dl-space-space-fiveunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-fiveunits);
  justify-content: center;
  background-color: #da003a;
}
.home-content2 {
  gap: var(--dl-space-space-threeunits);
  flex: 1;
  display: flex;
  max-width: 1440px;
  align-items: center;
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: row;
}
.home-background {
  right: 0px;
  width: 37%;
  bottom: 0px;
  height: 100%;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-end;
  background-color: #D0F4FD;
}
.home-practices2 {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  height: 1141px;
  display: flex;
  max-width: 1440px;
  align-items: flex-start;
  padding-top: 120px;
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: 120px;
  flex-direction: row;
  padding-bottom: 120px;
}
.home-heading18 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-text24 {
  font-size: 56px;
  font-style: normal;
  font-weight: 600;
}
.home-text25 {
  font-size: 18px;
  max-width: 385px;
  line-height: 27px;
}
.home-content3 {
  gap: var(--dl-space-space-fourunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-grid2 {
  gap: var(--dl-space-space-threeunits);
  flex: 1;
  display: grid;
  align-items: flex-start;
  flex-direction: column;
  grid-template-columns: repeat(2, 1fr);
}
.home-practice-wrapper1 {
  cursor: pointer;
  text-decoration: none;
}
.home-practice-wrapper2 {
  cursor: pointer;
  text-decoration: none;
}
.home-practice-wrapper3 {
  cursor: pointer;
  text-decoration: none;
}
.home-practice-wrapper4 {
  cursor: pointer;
  text-decoration: none;
}
.home-practice-wrapper5 {
  cursor: pointer;
  text-decoration: none;
}
.home-practice-wrapper6 {
  cursor: pointer;
  text-decoration: none;
}
.home-all {
  background-color: #da003a;
}
.home-why {
  gap: var(--dl-space-space-fiveunits);
  width: 100%;
  height: 1083px;
  display: flex;
  align-items: center;
  padding-top: 120px;
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: column;
  padding-bottom: 120px;
  background-color: var(--dl-color-primary-100);
}
.home-heading19 {
  gap: var(--dl-space-space-unit);
  width: 100%;
  display: flex;
  max-width: 1440px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-header19 {
  color: #fffefe;
  font-size: 56px;
  max-width: 600px;
  font-style: normal;
  text-align: center;
  font-weight: 600;
}
.home-header20 {
  color: #fffefe;
  font-size: 18px;
  max-width: 700px;
  text-align: center;
  line-height: 27px;
}
.home-content4 {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-video1 {
  width: 100%;
  display: flex;
  position: relative;
  max-width: 900px;
  align-items: center;
  flex-direction: column;
}
.home-video2 {
  width: 100%;
}
.home-play {
  top: 0px;
  left: 0px;
  right: 0px;
  width: 100%;
  bottom: 0px;
  cursor: pointer;
  height: 100%;
  margin: auto;
  display: flex;
  position: absolute;
  transition: 0.3s;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-play:hover {
  background-color: rgba(0, 0, 0, 0.3);
}
.home-image24 {
  width: 80px;
  object-fit: cover;
}
.home-caption8 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-header21 {
  color: #fffefe;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 36px;
}
.home-header22 {
  color: #fffefe;
  line-height: 24px;
}
.home-book4 {
  gap: var(--dl-space-space-fiveunits);
  width: 100%;
  display: flex;
  max-width: 1440px;
  align-items: center;
  padding-top: 120px;
  border-color: #B4B9C6;
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: column;
  padding-bottom: 120px;
  justify-content: center;
  border-bottom-width: 1px;
}
.home-heading20 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-text27 {
  font-size: 56px;
  max-width: 600px;
  font-style: normal;
  text-align: center;
  font-weight: 600;
}
.home-text28 {
  font-size: 18px;
  max-width: 700px;
  text-align: center;
  line-height: 27px;
}
.home-form {
  gap: var(--dl-space-space-fourunits);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-types {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.home-text29 {
  font-style: normal;
  font-family: Inter;
  font-weight: 600;
  white-space: nowrap;
}
.home-text30 {
  font-style: normal;
  font-family: Inter;
  font-weight: 600;
  white-space: nowrap;
}
.home-inputs {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  display: flex;
  max-width: 600px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-date {
  width: 100%;
  display: flex;
  align-items: flex-end;
  flex-direction: row;
  justify-content: center;
}
.home-image25 {
  width: 20px;
  object-fit: cover;
  border-color: #B4B9C6;
  padding-bottom: var(--dl-space-space-unit);
  border-bottom-width: 1px;
}
.home-lower {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.home-text31 {
  font-size: 10px;
  max-width: 700px;
  text-align: left;
  line-height: 15px;
}
.home-button {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.home-book5 {
  width: 100%;
  background-color: #da003a;
}
.home-text33 {
  font-size: 10px;
  max-width: 700px;
  text-align: left;
  line-height: 15px;
}
.home-text35 {
  color: #2461ff;
  font-style: normal;
  font-weight: 600;
}
.home-text37 {
  color: #2461ff;
  font-style: normal;
  font-weight: 600;
}
.home-download {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.home-main2 {
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 93px;
  display: flex;
  align-items: flex-end;
  flex-direction: row;
  justify-content: center;
  background-color: #D0F4FD;
}
.home-footer {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: 120px;
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-fiveunits);
  justify-content: space-between;
  background-color: #000000;
}
.home-left2 {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  align-items: flex-start;
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
}
.home-brand {
  gap: var(--dl-space-space-unit);
  display: flex;
  max-width: 400px;
  align-items: flex-start;
  flex-direction: column;
}
.home-text39 {
  color: rgb(255, 255, 255);
  font-size: 14px;
  line-height: 21px;
}
.home-socials {
  gap: var(--dl-space-space-unit);
  display: flex;
  max-width: 400px;
  align-items: flex-start;
  flex-direction: row;
}
.home-image26 {
  width: 24px;
  object-fit: cover;
}
.home-image27 {
  width: 24px;
  object-fit: cover;
}
.home-image28 {
  width: 24px;
  object-fit: cover;
}
.home-legal1 {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.home-copyright1 {
  color: rgb(255, 255, 255);
  font-size: 12px;
}
.home-right2 {
  gap: 140px;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.home-list1 {
  gap: var(--dl-space-space-unit);
  flex: 1;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-header23 {
  color: rgb(255, 255, 255);
  font-style: normal;
  font-weight: 600;
}
.home-links2 {
  gap: 12px;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-link14 {
  color: rgb(255, 255, 255);
  cursor: pointer;
  transition: 0.3s;
}
.home-link14:hover {
  opacity: 0.5;
}
.home-link15 {
  color: rgb(255, 255, 255);
  cursor: pointer;
  transition: 0.3s;
}
.home-link15:hover {
  opacity: 0.5;
}
.home-link16 {
  color: rgb(255, 255, 255);
  cursor: pointer;
  transition: 0.3s;
}
.home-link16:hover {
  opacity: 0.5;
}
.home-link17 {
  color: rgb(255, 255, 255);
  cursor: pointer;
  transition: 0.3s;
}
.home-link17:hover {
  opacity: 0.5;
}
.home-link18 {
  color: rgb(255, 255, 255);
  cursor: pointer;
  transition: 0.3s;
}
.home-link18:hover {
  opacity: 0.5;
}
.home-list2 {
  gap: var(--dl-space-space-unit);
  flex: 1;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-header24 {
  color: rgb(255, 255, 255);
  font-style: normal;
  font-weight: 600;
}
.home-links3 {
  gap: 12px;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-link19 {
  color: rgb(255, 255, 255);
  cursor: pointer;
  transition: 0.3s;
}
.home-link19:hover {
  opacity: 0.5;
}
.home-link20 {
  color: rgb(255, 255, 255);
  cursor: pointer;
  transition: 0.3s;
}
.home-link20:hover {
  opacity: 0.5;
}
.home-link21 {
  color: rgb(255, 255, 255);
  cursor: pointer;
  transition: 0.3s;
}
.home-link21:hover {
  opacity: 0.5;
}
.home-link22 {
  color: rgb(255, 255, 255);
  cursor: pointer;
  transition: 0.3s;
}
.home-link22:hover {
  opacity: 0.5;
}
.home-list3 {
  gap: var(--dl-space-space-unit);
  flex: 1;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-header25 {
  color: rgb(255, 255, 255);
  font-style: normal;
  font-weight: 600;
}
.home-links4 {
  gap: 12px;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-link23 {
  color: rgb(255, 255, 255);
  width: 215px;
  cursor: pointer;
  transition: 0.3s;
}
.home-link23:hover {
  opacity: 0.5;
}
.home-link24 {
  color: rgb(255, 255, 255);
  width: 215px;
  cursor: pointer;
  transition: 0.3s;
  text-decoration: none;
}
.home-link24:hover {
  opacity: 0.5;
}
.home-link25 {
  color: rgb(255, 255, 255);
  width: 215px;
  cursor: pointer;
  transition: 0.3s;
  text-decoration: none;
}
.home-link25:hover {
  opacity: 0.5;
}
.home-legal2 {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  display: none;
  align-items: flex-start;
  flex-direction: row;
}
.home-row {
  display: flex;
}
.home-copyright6 {
  color: rgb(255, 255, 255);
  font-size: 12px;
}
.home-container4 {
  display: contents;
}
.home-container6 {
  display: contents;
}
.home-container8 {
  display: contents;
}
@media(max-width: 991px) {
  .home-hero {
    flex: 1;
    height: 0px;
  }
  .home-navbar {
    z-index: 1000;
  }
  .home-links1 {
    display: none;
  }
  .home-right1 {
    display: none;
  }
  .home-burger-menu {
    display: flex;
    padding: var(--dl-space-space-unit);
    border-radius: var(--dl-radius-radius-round);
    background-color: #2461FF;
  }
  .home-icon2 {
    fill: white;
  }
  .home-main1 {
    flex-direction: column;
  }
  .home-content1 {
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .home-header18 {
    max-width: 75%;
  }
  .home-caption7 {
    max-width: 75%;
  }
  .home-image22 {
    flex: 0 0 auto;
    align-items: flex-end;
    padding-right: var(--dl-space-space-twounits);
    justify-content: flex-end;
  }
  .home-features {
    padding-top: var(--dl-space-space-fourunits);
    flex-direction: row;
    padding-bottom: var(--dl-space-space-fourunits);
  }
  .home-content2 {
    flex-direction: column;
  }
  .home-background {
    left: 0px;
    width: 100%;
    bottom: 0px;
    height: 55%;
    position: absolute;
    justify-content: flex-end;
  }
  .home-practices2 {
    flex-direction: column;
  }
  .home-why {
    gap: var(--dl-space-space-threeunits);
  }
  .home-footer {
    gap: 100px;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
  }
  .home-left2 {
    padding-right: 0px;
  }
  .home-socials {
    display: none;
  }
  .home-legal1 {
    display: none;
  }
  .home-right2 {
    gap: var(--dl-space-space-twounits);
    flex-direction: column;
  }
  .home-legal2 {
    gap: var(--dl-space-space-twounits);
    display: flex;
    flex-direction: column;
  }
  .home-row {
    gap: var(--dl-space-space-oneandhalfunits);
  }
}
@media(max-width: 767px) {
  .home-navbar {
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-unit);
  }
  .home-burger-menu {
    display: flex;
  }
  .home-main1 {
    gap: var(--dl-space-space-threeunits);
    align-items: flex-end;
    padding-left: var(--dl-space-space-oneandhalfunits);
    justify-content: center;
  }
  .home-header18 {
    font-size: 32px;
    max-width: 70%;
    line-height: 38px;
  }
  .home-caption7 {
    font-size: 16px;
    max-width: 70%;
    line-height: 24px;
  }
  .home-content2 {
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
  .home-practices2 {
    padding-top: var(--dl-space-space-fourunits);
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-fourunits);
  }
  .home-heading18 {
    gap: var(--dl-space-space-unit);
  }
  .home-text24 {
    font-size: 30px;
    line-height: 36px;
  }
  .home-text25 {
    font-size: 14px;
    line-height: 21px;
  }
  .home-content3 {
    gap: var(--dl-space-space-threeunits);
    width: 100%;
  }
  .home-grid2 {
    gap: var(--dl-space-space-twounits);
    width: 100%;
    grid-template-columns: repeat(1, 1fr);
  }
  .home-why {
    padding-top: var(--dl-space-space-fourunits);
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-fourunits);
  }
  .home-header19 {
    font-size: 30px;
    line-height: 36px;
  }
  .home-header20 {
    font-size: 14px;
    max-width: 60%;
    line-height: 21px;
  }
  .home-content4 {
    gap: var(--dl-space-space-twounits);
  }
  .home-header21 {
    font-size: 22px;
    line-height: 33px;
  }
  .home-header22 {
    font-size: 14px;
    line-height: 21px;
  }
  .home-book4 {
    gap: var(--dl-space-space-twounits);
    padding-top: var(--dl-space-space-fourunits);
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-fourunits);
  }
  .home-heading20 {
    gap: var(--dl-space-space-unit);
  }
  .home-text27 {
    font-size: 24px;
  }
  .home-text28 {
    font-size: 14px;
    max-width: 80%;
    line-height: 21px;
  }
  .home-form {
    gap: var(--dl-space-space-threeunits);
  }
  .home-types {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .home-inputs {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .home-main2 {
    align-items: center;
    flex-direction: column-reverse;
  }
  .home-footer {
    padding-top: var(--dl-space-space-fourunits);
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-threeunits);
  }
  .home-text39 {
    font-size: 12px;
    line-height: 18px;
  }
}
@media(max-width: 479px) {
  .home-navbar {
    padding: var(--dl-space-space-unit);
  }
  .home-mobile-menu {
    padding: 16px;
  }
  .home-content1 {
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
  .home-header18 {
    max-width: 80%;
  }
  .home-caption7 {
    max-width: 100%;
  }
  .home-book3 {
    width: 100%;
  }
  .home-image23 {
    max-height: 500px;
  }
  .home-types {
    flex-direction: column;
  }
}
